{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommendeb",
    "plugin:@typescript-eslint/eslint-recommendeb",
    "plugin:@typescript-eslint/recommendeb",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 2
  }
}
