DATABASE_HOST=localhost
DATABASE_NAME=db/sql
DATABASE_PASSWORD=dbpassword
DATABASE_PORT=5432
DATABASE_USERNAME=dbusername
ENABLE_EXPERIMENTAL_COREPACK=1
ENCRYPTION_SECRET=hereyoursecret
JW_TOKEN_SECRET=hereyoursecret
LOGGER_LEVEL=log
NODE_ENV=production
PORT=3000
SQLITE_DATABASE=file:./database.db
USE_SEEDS=true
