AUTH_DATABASE_URL=postgresql_url
DATABASE_HOST=localhost
DATABASE_NAME=db/sql
DATABASE_PASSWORD=dbpassword
DATABASE_PORT=5432
DATABASE_USERNAME=dbusername
ENABLE_EXPERIMENTAL_COREPACK=1
ENCRYPTION_SECRET=here-your-secret
JW_TOKEN_SECRET=here-your-secret
LOGGER_LEVEL=log
NODE_ENV=production
PORT=3000
SQLITE_DATABASE=file:./db/database.db
TURSO_AUTH_TOKEN=here-auth-token
TURSO_DATABASE_URL=here-database-url
TURSO_LOCAL_DEV=file:./db/external.db
USE_SEEDS=true